<!doctype html>
<!--HEADER-->

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/movie/movie.css">
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
    <title>SIMDO MOVIE!</title>
    <link rel="stylesheet" href="/css/movie/movie.css">
</head>

<body>

<!--NAVBAR-->
<nav th:fragment="main-nav" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}"><img src="/images/logo.png" style="width: 10vw"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="nationDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        나라별
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="nationDropdown">
                        <li><a class="dropdown-item" th:href="@{/movie/nation(nation=대한민국)}">대한민국</a></li>
                        <li><a class="dropdown-item" th:href="@{/movie/nation(nation=미국)}">미국</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="genreDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        장르별
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="genreDropdown">
                        <li><a class="dropdown-item" th:href="@{/movie/genre(genre=드라마)}">드라마</a></li>
                        <li><a class="dropdown-item" th:href="@{/movie/genre(genre=스릴러)}">스릴러</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">평점순</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">후기순</a>
                </li>
            </ul>
            <form class="d-flex" action="/movie/search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="title">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>




<!--FOOTER-->



<footer th:fragment="footer">
    <div class="text-center">
        <label>
            <p>SIMDO 2021, ALL RIGHTS RESERVED.</p>
        </label>
    </div>
</footer>



<script th:fragment="test-script" type="javascript">


</script>




</body>
</html>


