<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/fragments.html::head">
</head>
<body>
<nav th:replace="layouts/fragments.html::main-nav"></nav>

<!--CONTENTS-->
<contents style="display: flex; justify-content: center; padding-top: 10vh; padding-bottom: 10vh;">
    <div class="card mb-3" style="width: 700px;">
        <div class="row" >
            <div class="col-md-4" style="padding-top: 3rem; padding-bottom: 3rem";>
                <figure><img th:src="${movie.poster}" alt="sing up image"></figure>
            </div>
            <div class="col-md-8" style="padding-top: 4rem;">
                <h2 class="form-title" th:text="${movie.mvTitle}"></h2>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="content" class="col-sm-4 control-label">명대사</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3" id="content"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">명대사 등록</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>


</contents>
<footer th:replace="layouts/fragments.html::footer"></footer>
</body>

<script>
</script>
</html>