<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/fragments.html::head">
</head>
<body>
<nav th:replace="layouts/fragments.html::main-nav"></nav>

<!--CONTENTS-->
<contents style="padding: 10vh; display: flex; flex-direction: column; justify-content: center;">
    <form th:action="@{/notice/edit(noticeno=${notice.id})}" th:object="${noticeEditForm}" method="post">
        <div class="mb-3">
            <label for="InputTitle" th:text="${notice.title}" class="form-label">수정할 공지사항 제목 입력하세요.</label>
            <input th:field="*{subject}" type="text" class="form-control" id="InputTitle" aria-describedby="emailHelp" >
        </div>
        <div class="mb-3">
            <label for="InputContent" class="form-label">수정할 공지사항 내용 입력하세요.</label>
            <textarea th:field="*{content}" th:text="${notice.content}" style="height: 20vh" class="form-control" aria-label="With textarea" id="InputContent"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">등록</button>
    </form>
</contents>
<footer th:replace="layouts/fragments.html::footer"></footer>
</body>

<script>
</script>
</html>
