.result-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vh;
}

contents{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}