<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/fragments.html :: head">
</head>
<body>
<nav th:replace="layouts/fragments.html::main-nav"></nav>
<!--210210 조민희-->
<section class="jumbotron">
    <h1 class="display-4">PROFILE</h1><br>
    <span class="lead">반갑습니다 </span><span class="lead" th:text="${memberToView.getName()}"></span><span class="lead">님!</span>
    <p class="lead">SIMDO with MOVIE를 이용해주셔서 감사합니다.</p>
    <span class="lead" th:text="${memberToView.getName()}"></span><span class="lead">님의 프로필 정보를 설정해주세요.</span>
    <hr class="my-4">
    <p class="text-muted">
        <form class="needs-validation" th:action="@{'/member/update-info/' + ${#authentication.name}}" th:object="${updateForm}" method="post" novalidate>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" th:placeholder="${memberToView.getEmail()}" readonly>
                </div>
            </div>

            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" aria-describedby="nameHelp" minlength="2" maxlength="8" th:placeholder="${memberToView.getName()}" th:field="*{name}">
                    <small id="nameHelp" class="form-text text-muted">이름을 공백없이 문자와 숫자로만 2자 이상 8자 이내로 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</small>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password" aria-describedby="passwordHelp" minlength="8" maxlength="50" th:field="*{password}">
                    <small id="passwordHelp" class="form-text text-muted">패스워드를 8자 이상 50자 이내로 입력하세요.</small>
                    <small class="invalid-feedback">패스워드를 8자 이상 50자 이내로 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</small>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPhone3" class="col-sm-2 col-form-label">Phone</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control" id="inputPhone3" placeholder="Phone" th:placeholder="${memberToView.getPhone() != null? memberToView.getPhone():'Phone'}" th:field="*{phone}">
                </div>
            </div>

            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="memberGender" id="genderMale" value="M" th:field="*{gender}">
                            <label class="form-check-label" for="genderMale">
                                남자
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="memberGender" id="genderFemale" value="F" th:field="*{gender}">
                            <label class="form-check-label" for="genderFemale">
                                여자
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="form-group row">
                <label for="inputBirth3" class="col-sm-2 col-form-label">Birthday</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="inputBirth3" th:field="*{birthday}" th:value="${memberToView.getBirthday()}">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">설정하기</button>
                </div>
            </div>
        </form>
    </p>
</section>

<footer th:replace="layouts/fragments.html::footer"></footer>
<script th:replace="layouts/fragments.html :: form-validation"></script>
</body>
</html>