<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/fragments.html::head">
</head>
<body>
<nav th:replace="layouts/fragments.html::main-nav"></nav>

<!--CONTENTS-->
<contents style="display: flex; justify-content: center; padding-top: 10vh; padding-bottom: 10vh;">
    <div class="card mb-3" style="max-width: 700px;">
        <div class="row g-0">
            <div class="col-md-4" style="margin: auto">
                <img th:src="${movie.poster}" alt="..." >
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" th:text="${movie.mvTitle}"></h5>
                    <p class="card-text" th:text="${movie.director}"></p>
                    <p class="card-text" th:text="${movie.rating}"></p>
                    <p class="card-text" th:text="${movie.nation}"></p>
                    <p class="card-text" th:text="${movie.plot}"></p>
                    <p class="card-text" style="display: flex; justify-content: space-evenly">
                        <a th:href="@{/mypage/writereview(mvno=${movie.mvNo})}" class="btn btn-secondary">후기 작성</a>
                        <a th:href="@{/mypage/writeline(mvno=${movie.mvNo})}" class="btn btn-info">명대사 작성</a>
                        <!-- authentication.name 이메일정보로 로그인유저 이메일정보와 영화번호를 넘겨 위시리스트에 추가한다. -->
                        <a th:if="${wish == null}" th:href="@{'/movie/wishadd/' + ${#authentication.name}(mvno=${movie.mvNo})}" class="btn btn-danger wish">찜하기!</a>
                        <a th:if="${wish}" th:href="@{/movie/wishdel(wishno=${wish.wishNo})}" class="btn btn-outline-danger wish">찜해제!</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</contents>
<footer th:replace="layouts/fragments.html::footer"></footer>
</body>

<script>
</script>
</html>
