<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/fragments.html::head">
</head>
<body>
<nav th:replace="layouts/fragments.html::main-nav"></nav>

<!--CONTENTS-->
<h2>번역테스트</h2>
<h3>번역전</h3>
<input type="text" name="fms" id="fms">
<p class="send">전송</p>

<h3>번역후</h3>
<div class="trans"></div>
<div th:if="${res}" th:text="${res}"></div>
<footer th:replace="layouts/fragments.html::footer"></footer>

<script src="/js/papago.js">
</script>
</body>

</html>
