<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/fragments.html :: head">
</head>
<body>
<nav th:replace="layouts/fragments.html::main-nav"></nav>
<!--210210 조민희-->
<section class="jumbotron">
    <h1 class="display-4">User Profile</h1><br>
    <span class="lead">반갑습니다 </span><span class="lead" th:text="${memberToView.getName()}"></span><span class="lead">님!</span>
    <p class="lead">SIMDO with MOVIE를 이용해주셔서 감사합니다.</p>
    <span class="lead" th:text="${memberToView.getName()}"></span><span class="lead">님의 프로필 정보를 설정해주세요!</span>
    <hr class="my-4">
    <p class="text-muted">
        <form>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" th:placeholder="${memberToView.getEmail()}" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputName3" th:placeholder="${memberToView.getName()}">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Phone</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control" id="inputPhone3" placeholder="Password">
                </div>
            </div>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">성별</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="memberGender" id="gridRadios1" value="M">
                            <label class="form-check-label" for="gridRadios1">
                                남자
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="memberGender" id="gridRadios2" value="F">
                            <label class="form-check-label" for="gridRadios2">
                                여자
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">수정</button>
                </div>
            </div>
        </form>
    </p>
</section>

<footer th:replace="layouts/fragments.html::footer"></footer>
</body>
</html>