<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/fragments.html::head">
</head>
<body>
<nav th:replace="layouts/fragments.html::main-nav"></nav>

<!--CONTENTS-->
<contents>
    <div class ="container">
            <table class="table">
                <thead class="qna-thead">
                    <tr clss="qna-center">
                        <th scope="col">#</th>


                    </tr>
                </thead>



            </table>
    </div>


</contents>
<footer th:replace="layouts/fragments.html::footer"></footer>
</body>

<script>
</script>
</html>
