<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/fragments.html::head">
</head>
<body>
<nav th:replace="layouts/fragments.html::main-nav"></nav>

<!--CONTENTS-->
<div class="content">
    <div class="qna-main"> QNA 상세 </div>
    <div class="qna-body">
        <h2 th:text="${qna.title}" class="qna-title"></h2>
        <p th:text="${qna.content}" class="body"></p>
    </div>
</div>

<footer th:replace="layouts/fragments.html::footer"></footer>
</body>

<script>
</script>
</html>
